* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --jacket-red: #EB4353;
}

body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.main-section {
    height: 700px;
}

.container {
    display: flex;
    height: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.side-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.top-title {
    font-size: 2em;
    font-weight: 700;
    position: relative;
    transform: translateY(25px);
    opacity: 0;
    transition: all 1s ease;
}

.main-name {
    font-size: 6.5em;
    font-weight: 900;
    padding: 29px 0;
    margin: 16px 0 16px -5px;
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
}

.main-paragraph {
    color: #999;
    font-size: 1.3em;
    line-height: 24px;
    font-weight: 300px;
    text-align: justify;
    padding-right: 115px;
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
}

.linkedin {
    transform: translateY(50px);
    opacity: 0;
    margin-top: 40px;
    padding-bottom: 9px;
    border-bottom: 1px solid var(--jacket-red);
    transition: all 1s ease;
}

.linkedin a {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 4px;
    text-decoration: none;
    color: white;
}

.linkedin a:hover {
    font-size: 12px;
    font-weight: bold;
}

.side-image {
    background-image: url("../img/profile-transparent.png");
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    flex: 1;
}

.image-reveal {
    transform: scale3d(0.75, 0.75, 1);
    transform-style: preserve-3d;
    opacity: 0.2;
    transition: all 1.5s ease;
}

.image-reveal.animate {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.machine-learning {
    position: relative;
    top: 150px;
}

.ml-side-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

/* Fix for read papers button not loading because viewer didn't scroll far enough */
.ml-side-box.animate .research-papers {
    opacity: 1;
    transform: translateY(0);
}

.ml-red-title {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--jacket-red);
    margin-bottom: 15px;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(25px);
}

.ml-white-title {
    font-size: 38px;
    line-height: 44px;
    font-weight: 900;
    margin-bottom: 10px;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
}

.ml-paragraph {
    color: #999;
    font-size: 1.3em;
    line-height: 24px;
    font-weight: 300;
    text-align: left;
    padding-right: 30px;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
}

.research-papers {
    margin-top: 40px;
    padding-bottom: 9px;
    border-bottom: 1px solid var(--jacket-red);
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
}

.research-papers a {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 4px;
    text-decoration: none;
    color: white;
}

.research-papers a:hover {
    font-size: 12px;
    font-weight: bold;
}

#NN #neurons g {
    opacity: 0;
}

#NN.animate #neurons g {
    animation: dropIn 2s ease forwards;
    animation-delay: calc(var(--order) * 125ms)
}

@keyframes dropIn {
    5% {
        opacity: 0;
        transform: translateY(15%);
    }
    15%, 100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.projects {
    margin-top: 300px;
}

.project-img-container {
    height: 100%;
    flex: 1;
}

.project-img-1 {
    margin-bottom: 11px;
    border-radius: 5px;
    background-image: url("../img/rps.jpg");
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 330px;
    background-repeat: no-repeat;
    opacity: 0;
    transform: translateX(75px);
    transition: all 1s ease;
}

.project-img-1.animate {
    transform: translateX(0);
    opacity: 1;
}

.project-img-1 p, .project-img-2 p {
    position: relative;
    top: 60%;
    left: 5%;
    padding-left: 9px;
    border-left: 1px solid var(--jacket-red);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
}

.project-img-2 {
    margin-bottom: 11px;
    border-radius: 5px;
    background-image: url("../img/HAR.jpg");
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 330px;
    background-repeat: no-repeat;
    opacity: 0;
    transform: translateX(75px);
    transition: all 1s ease;
}

.project-img-2.animate {
    transform: translateX(0);
    opacity: 1;
}

.project-shadow {
    height: 50%;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.85));
    transform: translateY(180px);
    opacity: 0;
    transition: all 1s ease;
}

.project-img-1:hover .project-shadow, .project-img-2:hover .project-shadow {
    transform: translateY(170px);
    opacity: 1;
}

.projects-heading {
    font-size: 3.7em;
    font-weight: bold;
    letter-spacing: -2.2px;
    line-height: 44px;
    margin-bottom: 25px;
    margin-left: -2px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
}

.github {
    margin-top: 40px;
    padding-bottom: 9px;
    border-bottom: 1px solid var(--jacket-red);
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
}

.github a {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 4px;
    text-decoration: none;
    color: white;
}

.github a:hover {
    font-size: 12px;
    font-weight: bold;
}

/* Github button animation fix. */
.side-box.animate div.github {
    opacity: 1;
    transform: translateY(0);
}

.project-text {
    color: #999;
    font-size: 1.3em;
    line-height: 24px;
    font-weight: 300;
    text-align: left;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
}

.project-red-title {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--jacket-red);
    margin-bottom: 15px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
}

.animate {
    opacity: 1;
    transform: translateY(0);
}



